<%=flash[:error]%>
<%= form_for @contract do |f| %>
  <div class="form-group">
    <%= f.label :customer_id, 'Cliente' %>
    <%= f.collection_select(:customer_id, @customers, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :delivery_address, 'Endereço de Entrega' %>
    <%= f.text_field :delivery_address, class: 'form-control' %>
  </div>
  <div class="information">
    <%= f.collection_check_boxes(:equipment_ids, Equipment.all, :id, :name) %>
  </div>
  <div class="form-group">
    <%= f.label :prices_id, 'Prazo de Locação' %>
    <%= f.collection_select(:prices_id, @prices, :id, :rental_period) %>
  </div>
  <div class="form-group">
    <%= f.label :amount, 'Valor' %>
    <%= f.text_field :amount, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :discount, 'Desconto' %>
    <%= f.text_field :discount, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :total_amount, 'Valor Total' %>
    <%= f.text_field :total_amount, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :payment_method, 'Forma de Pagamento' %>
    <%= f.text_field :payment_method, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :start_date, 'Data de Início' %>
    <%= f.date_field :start_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :end_date, 'Data de Devolução' %>
    <%= f.date_field :end_date, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :contact, 'Responsável' %>
    <%= f.text_field :contact, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.submit 'Emitir Contrato', class: 'btn btn-primary' %>
  </div>







<% end %>
