<h1><%= @customer.name %></h1>
<hr>
<dl>
  <dt>Razão Social</dt><dd><%= @customer.legal_name %></dd>
  <dt>Tipo de Cliente</dt><dd><%= @customer.customer_type %></dd>
  <dt>Contato</dt><dd><%= @customer.contact_name %></dd>
  <dt>Telefone</dt><dd><%= @customer.phone_number %></dd>
  <dt>Email</dt><dd><%= @customer.email %></dd>
  <dt>Endereço</dt><dd><%= @customer.address %></dd>
  <dt>CPF/CNPJ</dt><dd><%= @customer.document %></dd>
</dl>
