<%= notice %>
<h1>Novo Preço</h1>
<%= form_for @price do |f| %>
  <div>
    <%= f.label :rental_period, 'Período de Locação' %>
    <%= f.text_field :rental_period %>
  </div>
  <div>
    <%= f.label :category_id, 'Tipo de Equipamento' %>
    <%= f.collection_select(:category_id, @categories, :id, :name) %>
  </div>
  <div>
    <%= f.label :value, 'Valor' %>
    <%= f.text_field :value %>
  </div>
  <%= f.submit 'Cadastrar Preço', class: 'btn btn-primary'  %>

<% end %>
