<%= flash[:error]%>
<h1>Novo Orçamento</h1>
<%= form_for @proposal do |f|%>
  <div>
    <%= f.label :name,'Nome' %>
    <%= f.text_field :name%>
  </div>
  <div>
    <%= f.label :email,'Email' %>
    <%= f.text_field :email%>
  </div>
  <div>
    <%= f.label :message,'Mensagem' %>
    <%= f.text_area :message%>
  </div>
  <%=f.submit 'Enviar Solicitação'%>
<%end%>
