<p>Eu, <%= @receipt.contract.contact %>,
 declaro ter recebido os equipamentos <%= @receipt.contract.list %>
 em devolução referente ao contrato <%= @receipt.contract.id %>
 em perfeitas condições da empresa ................,
 inscrita no CNPJ ........... no dia <%= @receipt.date %>. Assinatura do Funcionário: <%= @receipt.employee_contact %> - <%= @receipt.document %></p>
